<nav>
  <h4 class="tc mt3 mb0">{{ time | date: 'hh:mm:ss a' }}</h4>
  <h5 class="tc">{{ date | date: 'mediumDate' }}</h5>

  <mat-divider class="mr2 ml2"></mat-divider>

  <ul class="list">
    <li *ngFor="let menu of menus, trackBy: trackByFn"
        [ngClass]="{'active': activeMenu == menu.id}">

      <a (click)="onMenuSelected(menu.id)" *ngIf="!menu.submenus else withSubmenus"
         class="nav__option nav__option--active f5">{{menu.name}}</a>

      <ng-template #withSubmenus>
        <a (click)="onMenuSelected(menu.id)" class="nav__option nav__option__submenus--active f5">{{menu.name}}</a>
        <ul *ngIf="activeMenu == menu.id" class="list">
          <li *ngFor="let submenu of menu.submenus, trackBy: trackByFn"
              [ngClass]="{'active': activeSubmenu == submenu.id}">
            <a (click)="onSubmenuSelected(submenu.id)" class="nav__option nav__option--active f7">{{submenu.name}}</a>
          </li>
        </ul>

      </ng-template>
    </li>
  </ul>
</nav>
