<div class="sliders" fxLayout="column" fxLayoutGap="1rem">

  <h1>Notifications</h1>

  <h3>Click to view notifications</h3>

  <div fxFlexAlign="center" fxLayout="row wrap" fxLayoutGap="2rem">
    <button (click)="onClick('success')" color="primary" mat-flat-button>Success</button>
    <button (click)="onClick('warning')" color="primary" mat-flat-button>Warning</button>
    <button (click)="onClick('error')" color="primary" mat-flat-button>Error</button>
    <button (click)="onClick('info')" color="primary" mat-flat-button>Info</button>

  </div>


</div>
