.home {
  width: 100vw;
  min-height: 100vh;
  position: relative;

  &__sidenav-container {
    flex: 1;
    height: calc(100vh - 40px - 66px);
  }

  &__sidebar {
    width: 291px;
    background-color: #fafafa;
    box-shadow: none !important;
    border: 0 !important;
  }

  &__content {
    background-color: #f4f4f4;
    overflow: auto;
    padding: 16px;
    position: relative;
  }

  &.is-mobile {
    .home__sidenav-container {
      flex: 1 0 auto;
    }
  }
}
