<mat-card class="template-password-field-tooltip">

  <div class="template-password-field-tooltip__validation-wrapper">
    <mat-icon [class.is-valid]="!errors || (!errors.required && !errors.minLength)"
              class="template-password-field-tooltip__validation-wrapper__icon">check_circle_outline
    </mat-icon>
    <span class="template-password-field-tooltip__validation-wrapper__text">8 characters at least</span>
  </div>

  <div class="template-password-field-tooltip__validation-wrapper">
    <mat-icon [class.is-valid]="!errors || (!errors.required && !errors.upperCaseLetter)"
              class="template-password-field-tooltip__validation-wrapper__icon">check_circle_outline
    </mat-icon>
    <span
      class="template-password-field-tooltip__validation-wrapper__text">Must contain at least 1 uppercase letter</span>
  </div>

  <div class="template-password-field-tooltip__validation-wrapper">
    <mat-icon [class.is-valid]="!errors || (!errors.required && !errors.lowerCaseLetter)"
              class="template-password-field-tooltip__validation-wrapper__icon">check_circle_outline
    </mat-icon>
    <span
      class="template-password-field-tooltip__validation-wrapper__text">Must contain at least 1 lowercase letter</span>
  </div>

  <div class="template-password-field-tooltip__validation-wrapper">
    <mat-icon [class.is-valid]="!errors || (!errors.required && !errors.numericDigit)"
              class="template-password-field-tooltip__validation-wrapper__icon">check_circle_outline
    </mat-icon>
    <span class="template-password-field-tooltip__validation-wrapper__text">Must contain at least 1 number</span>
  </div>

</mat-card>
